fieldset {
	border: 0;
	padding: 0;
	
	legend, 
	label {
		position: absolute;
		height: 0;
		overflow: hidden;
		width: 0;
	}
}

// Variables
.ib-sp-page {
	--sp-font-family: Montserrat;
	--sp-button-text-color: #fff;
	--sp-button-background-color: #202020;
	--sp-button-border-color: #202020;
	--sp-button-text-color-hover: #202020;
	--sp-button-background-color-hover: #fff;
  --sp-button-border-color-hover: #fff;
}

.ib-sp-page {
	font-family: var(--sp-font-family);
  position: relative;
}

.sp-section {
	margin: 0 auto;
	padding: 30px 0;
	position: relative;
	width: 90%;
}

.sp-btn {
	background-color: var(--sp-button-background-color);
	border: 1px solid var(--sp-button-border-color);
	color: var(--sp-button-text-color);
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	height: 50px;
	letter-spacing: 1px;
	line-height: 50px;
	padding: 0 30px;
	text-transform: uppercase;
	transition: all .4s;

	@media screen and (min-width: 991px) {
		font-size: 13px;
		height: 60px;
		line-height: 60px;
		min-width: 242px;
	}

	&:hover {
		background-color: var(--sp-button-background-color-hover);
		border-color: var(--sp-button-border-color);
		color: var(--sp-button-text-color-hover);
	}

	&:disabled {
		cursor: default;
		opacity: .65;
	}
}

// Request Showing

#ib-sp-modal-contact {
	.ib-mgeneric {
		background-color: #fff;
		padding: 30px 20px 20px;
	}

	.ib-mmclose {
		background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    height: 30px;
    right: 15px;
    top: 15px;
		width: 30px;
		
		&::before,
		&::after {
			background-color: #fff;
			height: 15px;
			width: 2px;
		}
	}

	@media screen and (min-width: 640px) {
		.ib-mgeneric {
			width: 480px;
		}

		.ib-mgcontent {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

#ib-sp-modal-privacy,
#ib-sp-modal-accessibility {
	.ib-mmcontent {
		height: auto;
	}
	.ib-mgeneric {
		background-color: #fff;

		@media screen and (min-width: 480px) {
			width: 100%;
		}

		@media screen and (min-width: 640px) {
			padding: 30px;
			margin-left: auto;
			margin-right: auto;
			max-width: 800px;
			width: 90%;
		}
	}

	.ib-mmclose {
		background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    height: 30px;
    right: 15px;
    top: 15px;
		width: 30px;
		
		&::before,
		&::after {
			background-color: #fff;
			height: 15px;
			width: 2px;
		}

		@media screen and (min-width: 640px) {
			right: calc(5% + 15px);
		}
	}

	.sp-body-modal {
		p{
			font-family: var(--sp-font-family);
			font-size: 15px;
			line-height: 1.6;
			font-weight: normal;
			margin-top: 0;
			margin-bottom: 20px;
			a{
				color: #157edc;
				&:hover{
					text-decoration: underline;
				}
			}
	
			strong{
				font-weight: 600;
			}
		}

		ul {
			margin: 20px 0;

			li {
				margin-bottom: 5px;
				position: relative;
				padding-left: 25px;
				font-size: 15px;
				line-height: 1.6;
				font-weight: normal;

				&::before {
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 100%;
					background-color: #000;
					position: absolute;
					left: 0;
					top: 8px;
				}
			}
		}
	
		.sp-title {
			font-weight: 600;
			font-size: 18px;
			margin-bottom: 15px;
			letter-spacing: 1px;
		}
	
		.sp-sub-title {
			font-weight: 600;
			font-size: 14px;
			margin-bottom: 15px;
			letter-spacing: 1px;
		}
	}
}

.sp-modal-body {
	.sp-modal-title {
		color: #000;
		display: block;
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 15px;
		text-align: center;
	}

	p {
		color: #000;
		display: block;
		font-family: var(--sp-font-family);
		font-size: 14px;
		font-weight: 300;
		line-height: 1.6;
		margin-bottom: 10px;
		text-align: center;

		.sp-black {
			font-weight: 500;
		}
	}
}

.sp-input-form {
	margin-top: 10px;

	input, textarea {
		border-radius: 4px;
		border: 1px solid #c0c0c0;
		cursor: text;
		font-family: var(--sp-font-family);
		font-size: 14px;
		width: 100%;

		&:disabled,
		&:read-only {
			background-color: rgba(239, 239, 239, .5);
			cursor: default;
		}
	}

	input {
		height: 45px;
		line-height: 45px;
		padding: 0 15px;
	}

	textarea {
		height: 100px;
		padding: 15px;
		resize: none;
	}

	.sp-button {
		align-items: center;
		background-color: var(--sp-button-background-color);
		border: 1px solid var(--sp-button-border-color);
		color: var(--sp-button-text-color);
		display: flex;
		font-size: 11px;
		font-weight: 500;
		height: 50px;
		justify-content: center;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.4s;
		width: 100%;

		&:hover {
			background-color: var(--sp-button-background-color-hover);
			border-color: var(--sp-button-border-color);
			color: var(--sp-button-text-color-hover);
		}

		&:disabled {
			cursor: default;
			opacity: .65;
		}
	}

	.form-message {
		color: #000;
		display: block;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.6;
		margin-top: 10px;
		text-align: center;
		text-transform: uppercase;
	}
}

.sp-access-accordion{
	.accordion-item{
		margin-bottom: 10px;
	}
	.accordion-title {
		border: 1px solid #ccc;
		background-color: #eaeaea;
		color: #333 !important;
		display: flex;
		flex-direction: column;
		font-size: 15px;
		padding: 1rem 3rem 1rem 1rem;
		position: relative;
		width: 100%;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid black;
			top: 50%;
			right: 15px;
			margin-top: -4px;
		}
	}

	.sp-access-content {
		border: 1px solid #ccc;
		clear: both;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0 2rem;
		transition: all 0.2s ease 0.15s;
		margin-bottom: 5px;
		li {
			margin-bottom: 5px;
			position: relative;
			padding-left: 25px;
			font-size: 15px;
			line-height: 1.6;
			font-weight: normal;

			&:before {
				content: "";
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 100%;
				background-color: #000;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}

		&.active{
			opacity: 1;
			padding: 2rem;
			max-height: 100%;
			transition: all 0.35s ease 0.15s;
			margin-top: -1px;
		}
	}
}

.sps-active-mds{
  .sps-modal-sp-slider{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 999;
    text-align: center;

    img{
      pointer-events: none;
      user-select: none;
		}
		
		.alt-text {
			color: #fff;
			display: block;
			margin: 0 auto;
			padding: 4px 12px;
			width: 90%;
		}
  }
}

.sps-modal-sp-slider{
	display: none;
  .sps-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:#FFF;
    color: #333;
    font-size: 18px;
    transition: all 0.3s;
    z-index: 2;
    text-indent: -999999px;
		overflow: hidden;
		border-radius: 100%;
		transition: all .3s;
    &:before{
      content: "X";
      font-weight: bold;
      text-indent: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
		}
		
		&:hover{
			background-color: #000;
			color: #FFF
		}
  }

  .gs-next-arrow, 
  .gs-prev-arrow{
    height: 55px;
    width: 40px;
    &:before {
      background-size: 12px;
    }
  }
}

#sps-modal-sp-slider{
	position: relative;
	
	.sps-gallery-img-wrapper {
		margin-left: auto;
		width: 90%;
    margin-right: auto;
	}
}