#sp-details {
	text-align: center;
  max-width: 888px;
  
	* {
		font-weight: 300;
	}

	.sp-section-title {
		font-size: 23px;
		font-weight: 400;
    margin: 10px 0 15px 0;
    
		br {
			display: none;
		}
	}

	.sp-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
    margin: 20px 0 10px 0;
    
		li {
			font-size: 23px;
			margin-bottom: 15px;
			padding: 0 20px;
      width: auto;
      
			&:first-child {
				width: 100%;
      }
      
			span {
				display: block;
				font-size: 10px;
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}

	p {
		font-family: var(--sp-font-family);
    font-size: 14px;
    line-height: 1.6;
	}

	@media screen and (min-width: 640px) {
		.sp-section-title {
      font-size: 28px;
      
			br {
				display: block;
			}
		}
	}

	@media screen and (min-width: 768px) {
    padding-top: 50px;
    
		.sp-label {
			font-size: 10px;
			padding: 9px 25px;
		}

		.sp-section-title {
			font-size: 32px;
			margin-top: 20px;
		}

		.sp-list {
      margin: 40px 0 30px 0;
      
			li {
        font-size: 32px;
        
				&:first-child {
					width: auto;
				}
			}
		}

		p {
			font-size: 16px;
			line-height: 1.9;
		}
	}

	@media screen and (min-width: 1024px) {
		.sp-section-title {
			font-size: 36px;
		}

		.sp-list {
			li {
				font-size: 36px;
        letter-spacing: 2px;
        
				span {
					font-size: 12px;
					margin-top: 3px;
				}
			}
		}
	}

	@media screen and (min-width: 1440px) {
		.sp-section-title {
			font-size: 41px;
		}

		.sp-list {
			li {
				font-size: 40px;
				padding: 0 30px;
			}
		}
	}
}