.ib-single-property-collection {
  margin-left: auto;
  margin-right: auto;
  max-width: 1755px;
  width: 96%;

  .ib-gwsort:last-child {
    display: none;
  }

  .ib-lproperties {
    min-height: 450px;
  }

  @media screen and (min-width: 640px) {
    .ib-pitem {
      margin-bottom: 10px;
    }
  
    &.columns-one .ib-pitem,
    &.columns-one .ib-pitem:nth-child(2n) {
      margin-right: 0;
      width: 100%;
    }

    &.columns-two .ib-pitem,
    &.columns-two .ib-pitem:nth-child(3n) {
      margin-right: 10px;
      width: calc(50% - 5px);
    }

    &.columns-two .ib-pitem:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .ib-gwsort:last-child {
      display: block;
      margin-left: 20px;
    }
  
    .ib-pitem,
    &.columns-three .ib-pitem  {
      margin-right: 10px;
      width: calc(33.33% - 6.667px);
    }
  
    .ib-pitem:nth-child(2n),
    &.columns-three .ib-pitem:nth-child(2n) {
      margin-right: 10px;
    }
  
    .ib-pitem:nth-child(3n),
    &.columns-three .ib-pitem:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  @media screen and (min-width: 1360px) {
    .ib-pitem,
    &.columns-four .ib-pitem {
      margin-right: 10px;
      width: calc(25% - 7.5px);
    }
  
    .ib-pitem:nth-child(2n),
    &.columns-four .ib-pitem:nth-child(2n) {
      margin-right: 10px;
    }
  
    .ib-pitem:nth-child(3n),
    &.columns-four .ib-pitem:nth-child(3n) {
      margin-right: 10px;
    }
  
    .ib-pitem:nth-child(4n),
    &.columns-four .ib-pitem:nth-child(4n) {
      margin-right: 0;
    }
  
    &.columns-five .ib-pitem {
      margin-right: 10px;
      width: calc(20% - 8px);
    }
  
    &.columns-five .ib-pitem:nth-child(2n) {
      margin-right: 10px;
    }
  
    &.columns-five .ib-pitem:nth-child(3n) {
      margin-right: 10px;
    }
  
    &.columns-five .ib-pitem:nth-child(4n) {
      margin-right: 10px;
    }
  
    &.columns-five .ib-pitem:nth-child(5n) {
      margin-right: 0;
    }
  }
}

#ib-sp-modals {
  .ib-property-detail {
    &.ib-pdmodal {
      .ib-pcontent {
        padding-bottom: 0;
      }
    }
  }
}

.ib-sp-modal-opened {
  overflow: hidden;
}