.ib-single-property-collection {

  .ib-gwsort:last-child {
    display: none;
  }

  .ib-lproperties {
    min-height: 450px;
  }

  @media screen and (min-width: 640px) {
    .ib-pitem {
      margin-bottom: 10px;
    }
  
    &.columns-one .ib-pitem,
    &.columns-one .ib-pitem:nth-child(2n),
    &.columns-one .ib-pitem:nth-child(3n) {
      margin-right: 0;
      width: 100%;
    }

    &.columns-two .ib-pitem,
    &.columns-two .ib-pitem:nth-child(3n) {
      margin-right: 10px;
      width: calc(50% - 5px);
    }

    &.columns-two .ib-pitem:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .ib-gwsort:last-child {
      display: block;
      margin-left: 20px;
    }
  
    .ib-pitem,
    &.columns-three .ib-pitem  {
      margin-right: 10px;
      width: calc(33.33% - 6.667px);
    }
  
    .ib-pitem:nth-child(2n),
    &.columns-three .ib-pitem:nth-child(2n) {
      margin-right: 10px;
    }
  
    .ib-pitem:nth-child(3n),
    &.columns-three .ib-pitem:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  @media screen and (min-width: 1360px) {
    .ib-pitem,
    &.columns-four .ib-pitem {
      margin-right: 10px;
      width: calc(25% - 7.5px);
    }
  
    .ib-pitem:nth-child(2n),
    &.columns-four .ib-pitem:nth-child(2n) {
      margin-right: 10px;
    }
  
    .ib-pitem:nth-child(3n),
    &.columns-four .ib-pitem:nth-child(3n) {
      margin-right: 10px;
    }
  
    .ib-pitem:nth-child(4n),
    &.columns-four .ib-pitem:nth-child(4n) {
      margin-right: 0;
    }
  
    &.columns-five .ib-pitem {
      margin-right: 10px;
      width: calc(20% - 8px);
    }
  
    &.columns-five .ib-pitem:nth-child(2n) {
      margin-right: 10px;
    }
  
    &.columns-five .ib-pitem:nth-child(3n) {
      margin-right: 10px;
    }
  
    &.columns-five .ib-pitem:nth-child(4n) {
      margin-right: 10px;
    }
  
    &.columns-five .ib-pitem:nth-child(5n) {
      margin-right: 0;
    }
  }
}

#ib-sp-modals {
  .ib-property-detail {
    &.ib-pdmodal {
      .ib-pbtnopen {
        display: flex;
      }

      .ib-pwheader.sps-header-dark {
        background-color: #000;

        .ib-phbtn {
          color: #fff;
          background-color: #000;
          border-bottom-color: #000;

          &::before {
            color: #fff;
          }
        }

        .ib-phbtn.ib-requestinfo, 
        .ib-phbtn:hover {
          color: #000;
          background-color: #fff;
          border-bottom-color: #fff;
        }

        .ib-phbtn.ib-requestinfo:before, 
        .ib-phbtn:hover:before {
          color: #000;
        }

        @media screen and (max-width: 767px) {
          .ib-phbtn {
            color: #000;
            background-color: #fff;
            border-bottom-color: #fff;

            &::before {
              color: #000;
            }
          }

          .ib-pbtnphone {
            color: #fff;
            background-color: #000 !important;
            &::before {
              color: #fff;
            }
          }
        }
      }

      .ib-pheader .ib-logo{
        align-items: center;
        display: flex;
        height: 41px;
        justify-content: flex-start;

        img {
          max-height: 36px;
          height: auto;
          max-width: 100%;
          width: auto;
        }
      }
      
      .ib-pcontent {
        padding-bottom: 0;
      }
    }
  }
}

.ib-sp-modal-opened {
  overflow: hidden;
}

body.clidxboost-ngrid{
.wrap-result.view-grid .result-search.slider-generator-sp {
  >li {
    .features {
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 0 1rem 2.3rem 1rem;
    z-index: 4;
    left: 0;

      li.price {
        color: #FFF;
        margin-bottom: 0;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
      }

      li.beds,
      li.baths {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.7);

        &::after {
          background-color: #fff;
          margin-top: -2px;
        }
      }

      li.living-size {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
      }
    }

    h2 {
      margin-bottom: 0;
      bottom: 1rem;
      color: #FFF;
      left: 0;
      position: absolute;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
      z-index: 4;

      span {
        display: inline;

        span {
          display: inline;
          margin-left: 0.3125rem;
        }
      }
    }

    .wrap-slider>ul:before {
      background: linear-gradient(to bottom,rgba(68,68,68,0) 40%,rgba(0,0,0,0.65));
      bottom: 0;
      display: block;
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      z-index: 3;
      content: "";
      display: block;
    }
  }
}
}