.ms-express-page {
  margin: 0 auto;
  position: relative;
  padding: 30px 0; }
  .ms-express-page .ms-nav-section {
    margin: 0 auto;
    width: 90%; }
    .ms-express-page .ms-nav-section nav ul li {
      background: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#be155e));
      background: -webkit-linear-gradient(left, #fa6630, #be155e);
      background: -o-linear-gradient(left, #fa6630, #be155e);
      background: linear-gradient(to right, #fa6630, #be155e);
      border: 1px solid #f7f7f7; }
      .ms-express-page .ms-nav-section nav ul li .ms-item-btn {
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        font-size: 14px;
        width: 100%;
        color: #d3d3d3;
        background-color: #FFF;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
        .ms-express-page .ms-nav-section nav ul li .ms-item-btn span {
          font-family: "Montserrat", sans-serif !important;
          font-weight: 800;
          color: #d3d3d3;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          font-size: 20px; }
        .ms-express-page .ms-nav-section nav ul li .ms-item-btn:hover, .ms-express-page .ms-nav-section nav ul li .ms-item-btn.active {
          background-color: transparent;
          color: #FFF; }
          .ms-express-page .ms-nav-section nav ul li .ms-item-btn:hover span, .ms-express-page .ms-nav-section nav ul li .ms-item-btn.active span {
            color: #FFF; }
  .ms-express-page .ms-main-express {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0; }
    .ms-express-page .ms-main-express .ms-title {
      font-family: "Montserrat", sans-serif !important;
      font-weight: bold;
      font-size: 20px;
      font-size: 1.25rem;
      margin: 15px 0; }
      .ms-express-page .ms-main-express .ms-title span {
        background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
        background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
        background-image: -o-linear-gradient(left, #fa6630, #af0e66);
        background-image: linear-gradient(to right, #fa6630, #af0e66);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block; }
    .ms-express-page .ms-main-express p {
      font-size: 15px;
      font-size: 0.9375rem;
      color: #191919;
      line-height: 1.6; }
    .ms-express-page .ms-main-express .ms-express-logo {
      margin: 0 auto;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      max-width: 180px; }

.ms-express-section .ms-title {
  background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
  background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
  background-image: -o-linear-gradient(left, #fa6630, #af0e66);
  background-image: linear-gradient(to right, #fa6630, #af0e66);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  line-height: 1;
  padding: 0 15px 0 65px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 50px; }
  .ms-express-section .ms-title span {
    background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
    background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
    background-image: -o-linear-gradient(left, #fa6630, #af0e66);
    background-image: linear-gradient(to right, #fa6630, #af0e66);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 900;
    font-size: 70px;
    position: absolute;
    bottom: -14px;
    left: 15px; }
  .ms-express-section .ms-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
    bottom: 0;
    left: 0; }

.ms-express-section .ms-wrap-item {
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 30px 0; }
  .ms-express-section .ms-wrap-item .ms-wrap-img {
    position: relative;
    width: 100%;
    background-color: #333; }
    .ms-express-section .ms-wrap-item .ms-wrap-img:after {
      content: "";
      display: block;
      padding-bottom: 56.25%; }
    .ms-express-section .ms-wrap-item .ms-wrap-img .ms-title-img {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #FFF;
      font-size: 13px;
      line-height: 1.4;
      z-index: 2; }
      .ms-express-section .ms-wrap-item .ms-wrap-img .ms-title-img span {
        display: block;
        font-weight: 600;
        font-size: 15px; }
      .ms-express-section .ms-wrap-item .ms-wrap-img .ms-title-img strong {
        font-weight: 600; }
    .ms-express-section .ms-wrap-item .ms-wrap-img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top;
      object-position: top; }

.ms-express-section .ms-play {
  text-indent: -999999px;
  width: 60px;
  height: 60px;
  border-width: 2px;
  margin-top: -45px;
  z-index: 2; }
  .ms-express-section .ms-play:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #dc4346;
    border-bottom: 10px solid transparent;
    margin-right: -5px;
    position: absolute;
    top: 19px;
    left: 22px; }

.ms-express-section .ms-wrap-form p {
  font-size: 15px;
  margin: 15px 0;
  line-height: 1.4;
  width: 100%; }
  .ms-express-section .ms-wrap-form p strong {
    font-weight: 600; }

.ms-express-section .ms-wrap-form .ms-form-input {
  width: 100%;
  margin-bottom: 10px; }
  .ms-express-section .ms-wrap-form .ms-form-input textarea,
  .ms-express-section .ms-wrap-form .ms-form-input input[type="text"],
  .ms-express-section .ms-wrap-form .ms-form-input input[type="email"],
  .ms-express-section .ms-wrap-form .ms-form-input input[type="password"] {
    width: 100%;
    padding: 0 15px;
    min-height: 45px;
    border-radius: 4px;
    border: 1px solid #d6d6d7; }
  .ms-express-section .ms-wrap-form .ms-form-input.ms-full a {
    text-decoration: underline; }

.ms-express-section .ms-wrap-btn {
  width: 100%; }
  .ms-express-section .ms-wrap-btn .ms-btn {
    width: 100%; }
    .ms-express-section .ms-wrap-btn .ms-btn span {
      padding: 0 15px; }
      .ms-express-section .ms-wrap-btn .ms-btn span:after {
        display: none; }

.ms-express-section .ms-wrap-textarea {
  width: 90%;
  margin: 30px auto;
  height: 250px;
  border: 1px solid #d6d6d7;
  padding: 15px;
  overflow: hidden;
  overflow-y: auto; }
  .ms-express-section .ms-wrap-textarea p, .ms-express-section .ms-wrap-textarea ul, .ms-express-section .ms-wrap-textarea ol {
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 15px;
    font-size: 0.9375rem; }
  .ms-express-section .ms-wrap-textarea::-webkit-scrollbar-track {
    border: 0 solid #000;
    background-color: rgba(0, 0, 0, 0.1); }
  .ms-express-section .ms-wrap-textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
    background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
    background-image: linear-gradient(to right, #fa6630, #af0e66); }
  .ms-express-section .ms-wrap-textarea::-webkit-scrollbar {
    width: 15px; }

#ms-terms-express .ms-wrap-btn {
  width: 90%;
  margin: 0 auto; }

.ms-wp-msg {
  position: relative; }

.ms-bubble-info {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 13px;
  right: 10px;
  border-radius: 100%;
  font-size: 11px;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .ms-bubble-info span {
    margin: 0; }
  .ms-bubble-info .ms-message {
    position: absolute;
    bottom: calc(100% + 20px);
    width: 180px;
    font-size: 12px;
    padding: 10px;
    right: -10px;
    color: #fff;
    margin: 0;
    background: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#be155e));
    background: -webkit-linear-gradient(left, #fa6630, #be155e);
    background: -o-linear-gradient(left, #fa6630, #be155e);
    background: linear-gradient(to right, #fa6630, #be155e);
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    display: none; }
    .ms-bubble-info .ms-message:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid #c0175c;
      border-left: 10px solid transparent;
      position: absolute;
      bottom: -10px;
      right: 15px; }
  .ms-bubble-info:hover {
    background-color: #333;
    color: #FFF; }
    .ms-bubble-info:hover .ms-message {
      bottom: calc(100% + 9px);
      opacity: 1;
      display: block; }
